.heading-main {
	text-align: center;
	font-family: monospace;
	font-weight: 400;
	font-size: 160%;
	margin-top: 40px;
	margin-bottom: 60px;
}

@media (min-width: 992px) {
	.section-1,
	.section-2,
	.section-3 {
		width: 30%;
		float: left;
	}
}



@media (min-width: 768px) and (max-width: 991px) {
  
  	.section-1,
	.section-2,
	.section-3 {
		width: 100%;
	}
  
}

@media (min-width: 481px) and (max-width: 767px) {
  	.section-1,
	.section-2,
	.section-3 {
		width: 100%;
	}
}


.section-1,
.section-2,
.section-3 {
	background-color: #ddd;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
	position: relative;
}


.title-1,
.title-2,
.title-3 {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(0, -55%);
}

.title-1 {
	font-family: monospace;
	font-size: 17px;
	display: block;
	color: #fff;
	background-color: #231233;
	padding: 5px 40px;
	border: 1px solid #000;
}


.title-2 {
	font-family: monospace;
	font-size: 17px;
	display: block;
	color: #eee;
	background-color: #568e69;
	padding: 5px 40px;
	border: 1px solid #000;
}

.title-3 {
	font-family: monospace;
	font-size: 17px;
	display: block;
	color: #231556;
	background-color: #986471;
	padding: 5px 40px;
	border: 1px solid #58563e;
}

p {
	font-family: helvetica, sans-serif;
	padding: 15px;
}
